body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    
    color: rgb(224, 35, 66);
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header a {
    background-color: rgb(236, 108, 108);
    border-radius: 2px;
    color: blanchedalmond;
    text-decoration: none;
    padding: 8px 20px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

img{
    width:410px;
    height: 400px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}